* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}

body {
    font-family: poppins;
    overflow: none;
}

header {
    background-color: #313851;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    position: sticky; 
    top: 0;           
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.5s; 
    padding: 10px;
}

nav ul li a:hover {
    background: #404968; 
    border-radius: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    position: relative;
    margin-right: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: #1a2942;
    color:#fff;
}

thead tr th{
    padding: 10px;
}


.tabela{
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 80px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tbody td{
    padding: 12px 14px;
    font-size: 15px;
    align-items: center;
}

#quadro{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}



.card-cadastro {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 50px 80px;
}

.card-cadastro h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.form-cadastro {
    display: grid;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 6px;
}

.form-group input {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

.btn-salvar {
    grid-column: 1 / 3;
    margin-top: 10px;
    padding: 12px;
    background-color: #404968;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-salvar:hover {
    background-color: #2e3550;
}


.card-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    margin: 40px 0;
}


.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #111;
}


.label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}


.input {
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
}



